@font-face {
    src: url(./IBMPlexMono-Regular.woff) format("woff");
    font-weight: normal;
    font-display: swap;
    font-family: "IBM Plex mono";
}

@font-face {
    font-family: "IBM Plex mono";
    src: url(./IBMPlexMono-Bold.woff) format("woff");
    font-display: swap;
    font-weight: bold;
}
